/*Set Box Sizing
    ========================================================================== */

/**
* 
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*General Page styles
    ========================================================================== */

/**
* 
*/

html {
    font-size: 1em;
    line-height: 1.5;
    background-color: #99B2DD;
    color: #595959;
}

body {
    font-family: 'IBM Plex Serif', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fredoka One', cursive;  
}

h1,
h2{
    text-align: center;
}

h2{
    text-transform: uppercase;
    color: #000;
    margin-top: 3.5em;
    margin-bottom: 2em;;
}


a {
    text-decoration: none;
    color: #595959;
}

a:focus,
a:hover {
    text-decoration: underline;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}


.card{
    background-color: #fff;
    border-radius: 4px;
    box-shadow:0 2px 0 rgb(0 0 0 / 10%);
}



/* Responsive Images */

.img-responsive{
    display: block;
    max-width:100%;
    height:auto;
}

.img-container {
    overflow: hidden;
}



/*Header Styles
    ========================================================================== */

/**
* 
*/

header{
    text-align: center;
}

.nav-bar{
    background-color: #fff;
}

.nav-bar h1 {
    margin-top: 0;
}

.main-nav li a {
    display: block;
    font-size: 1.25rem;
    padding: .7em;
    text-transform: uppercase;
}

/* Hero Styles */

.hero {
    background: #6b6b6b;
    padding: 1.2em;
}

.hero .img-container {
    width: 50%;
    margin:1.5rem auto 0 auto;

}

.hero-text {
    font-size:1.25rem;
    color:#fff;
    text-align: center;
}


/*Portfolio Section
    ========================================================================== */

/**
* 
*/ 




.project{
    margin: 5px;
}

.project-description {
    text-align: center;
    padding: 0 1.3em .3em 1.3em;
    margin-bottom: 1.5em;
}

.project-description h3 {
    margin-bottom: 0;
}

/*Contact Section
    ========================================================================== */

/**
* 
*/ 

#contact .card {
    text-align: center;
    padding: .2em 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#contact h2 {
    margin-top: 3em;
    margin-bottom: 1.3em;;
}

.contact-info a {
    font-weight: bold;
}

/*Footer Section
    ========================================================================== */

/**
* 
*/

footer {
    background-color: #ddda98;
    padding: .5em;
    margin-top: 1em;
}


.footer-nav {
    display:none;
}

footer .container{
    display:flex;
    align-items: center;
}

footer p {
    margin-left: auto;
}



footer a,
footer {
    color: #292929;

}

footer a {
    font-weight: bold;
}



/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Media Queries
    ========================================================================== */

/**
* 
*/

@media(min-width: 768px){

    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* Header Styles */
    .main-nav,
    .main-nav li {
        display:inline-block;
    }

    .main-nav {
        margin: 0 auto;
    }

    /* Hero Styles */

    .hero-text{
        float: left;
        width: 60%;
        margin-right: 8px;
        text-align: left;
    }

    .hero .img-container {
        float: right;
        width: 35%;
    }

      /* Portfolio  */
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        width: 40%;
    }

     /* Contacts */

     .contact-info {
         margin-top: 2.5em;
     }

    /* footer */


     footer p {
         display: none;
     }

   
     .footer-nav li {
         display:inline-block;
         margin-right: 1em;
     }

     .footer-nav li:last-child{
         margin-right: 0;
     }

     .footer-nav {
        display:block;
         margin-left: auto;
     }


     .footer-nav a {
         font-size: 1rem;
     }


}






